* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    gap: 20px;
}

#selection {
    display: flex;
    flex-direction: column;
    background-color: pink;
    width: 350px;
}

.comparison-table {
    display: flex;
}

.comparison-table-content, .comparison-table-header {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.comparison-table-header-cells, .items {
    display: flex;
    flex-direction: column;
    > td, th {
        overflow-y: scroll;
        height: 100px;
    }
    > :nth-child(2) {
        height: 150px;
    }
    > :first-child {
        background-color: pink;
    }
}



